extends ../layout

block content
  .container
    .row
      .col-sm-1
        a.btn.btn-warning(href='/admin/movie/new') 新增
        p
      .col-sm-4
        a.btn.btn-warning(href='/admin/spider/list') 抓取
    .row
      table.table.table-hover.table-bordered
        thead
          tr
            th.col-md-3 电影名字
            th.col-md-1 电影类别
            th.col-md-2 导演
            th.col-md-1 状态
            th.col-md-1 上映时间
            th.col-md-1 录入时间
            th.col-md-2 操作
        tbody
          each item in movies
            tr(class = 'item-id-' + item._id)
              td: a(target="_blank", href="../movie/"+item._id) #{item.title}
              td
                if (item.category)
                  each cat in item.category
                    #{cat.name} 
              td #{item.director}
              if (item.state == 0)
                td 草稿
              else if (item.state == 1)
                td 已发布              
              td #{item.year}
              td #{moment(item.meta,updateAt).format('MM/DD/YYYY')}
              td
                a.btn.btn-primary(target="_blank", href="/admin/movie/update/"+item._id) 修改
                button.saveMovie.btn.btn-warning(type = "button", data-id = "#{item._id}") 保存
                button.delMovie.btn.btn-danger(type = "button", data-id = "#{item._id}") 删除
    ul.pagination
      - for (var i = 1; i <= totalPage; i++)
        - if ( currentPage === i) {
           li.active
            span #{currentPage}
        - } else {
            li
              a(href='/admin/movie/list?p=#{i}&r=#{rows}') #{i}
        - }
  script(src="/js/admin.js") 