extends ../layout

block content
  .container
    .row
      .col-lg-2
        a.btn.btn-warning(href='/admin/spider/fetchPage') 抓取新内容
        p
    .row
      table.table.table-hover.table-bordered
        thead
          tr
            th 电影名字
            th 电影类别
            th 导演
            th 状态
            th 上映时间
            th 录入时间
            th 查看
            th 更新
            th 删除
        tbody
          each item in movies
            tr(class = 'item-id-' + item._id)
              td #{item.title}
              td
                if (item.category)
                  each cat in item.category
                    #{cat.name}
                else
              td #{item.director}
              td
                if (item.state == 0)
                  草稿
                else if (item.state == 1)
                  已发布
              td #{item.year}
              td #{moment(item.meta,updateAt).format('MM/DD/YYYY')}
              //-td #{item.meta.updateAt}
              td: a(target="_blank", href="../movie/"+item._id) 查看
              td: a(target="_blank", href="/admin/movie/update/"+item._id) 修改
              td
                button.delMovie.btn.btn-danger(type = "button", data-id = "#{item._id}") 删除
                button.saveMovie.btn.btn-warning(type = "button", data-id = "#{item._id}") 保存
    ul.pagination
      - for (var i = 1; i <= totalPage; i++)
        - if ( currentPage === i) {
           li.active
            span #{currentPage}
        - } else {
            li
              a(href='/admin/spider/list?p=#{i}&r=3') #{i}
        - }
  script(src="/js/admin.js")