extends ../layout

block content
  .container
    .row
      .col-lg-2
        a.btn.btn-warning(href='/admin/spider/new') 新增方案
        p
    .row
      table.table.table-hover.table-bordered
        thead
          tr
            th.col-md-1 规则名称
            th.col-md-1 爬取数量
            th.col-md-2 网址
            th.col-md-1 基础网址
            th.col-md-1 列表容器
            th.col-md-1 列表项
            th.col-md-3 操作
        tbody
          each item in spiders
            tr(class = 'item-id-' + item._id)
              td: a(target="_blank", href="../spider/"+item._id) #{item.title}
              td #{item.maxNumber}
              td #{item.url}
              td #{item.baseUrl}
              td #{item.listContainer}
              td #{item.listTag}
              td
                a.btn.btn-primary(href="/admin/spider/update/"+item._id) 修改
                a.btn.btn-warning(target="_blank", href="/admin/spider/fetch/" + item._id) 抓取内容
                button.delSpider.btn.btn-danger(type = "button", data-id = "#{item._id}") 删除
    ul.pagination
      - for (var i = 1; i <= totalPage; i++)
        - if ( currentPage === i) {
           li.active
            span #{currentPage}
        - } else {
            li
              a(href='/admin/spider/list?p=#{i}&r=#{rows}') #{i}
        - }
  script(src="/js/admin.js")